body {
    margin: 40px 40px 40px 40px;
    background-image: url(../IMAGES/CONTACT.jpg);
    background-size: cover;
}
.form{
	padding:50px 0px 50px 0px;
	text-align: center;
	background:rgb(40, 40, 40);
	font-size:14px;
	font-family:verdana;
	color:white;
	text-transform: uppercase;
	border-radius: 4px;
	margin: 0px 400px 40px 400px;
}
#question {
	color: rgb(40, 40, 40);
	font-family:verdana;
	font-size: 26px;
	background-color: white;
	padding: 20px;
	border-radius: 4px;
	margin: 40px 400px 40px 400px;
}
#submit{
	color: white;
    background-color: rgb(70, 70, 70);
	height: 40px;
	width: 404px;
}
#submit:hover {
    background-color: rgb(100, 100, 255);
    border: none;
}
input[type="text"]{
	height: 40px;
	width: 400px;
}
input[type="email"]{
	height: 40px;
	width: 400px;
}
input[type="phone"]{
	height: 40px;
	width: 400px;
}